<div class="content-20">
    <div class="row d-flex align-items-center mb-4">
        <div class="col-md-12">
            <div class="d-flex align-items-center">
                <mat-icon class="mr-2">savings</mat-icon>
                <h1 class="h1-title m-0">Economias</h1>
            </div>
        </div>
    </div>

    <div class="row d-flex align-items-center mb-4">

        <div id="img-savings" class="col-md-4 ml-0 d-flex justify-content-center align-items-center">
            <img src="/assets/imagens/cofre.png">
        </div>

        <div class="col-md-6 text-center">
            <h1 class="h1-title">{{economiaTotal | currency:'BRL'}}</h1>
            <div class="valores d-flex justify-content-center">
                <div class="mes mr-3">
                    <p class="mb-0">Esse mês</p>
                    <p>+ {{economiaMesAtual | currency:'BRL'}}</p>
                </div>
                <div class="quantidade ml-3">
                    <p class="mb-0">Qtd total</p>
                    <p>{{listaInvestimentos.length}} vezes.</p>
                </div>
            </div>
        </div>

    </div>

    <div class="row">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Núm.</th>
                    <th scope="col">Descrição</th>
                    <th scope="col">Valor</th>
                    <th scope="col">Categoria</th>
                    <th scope="col">Mês</th>
                    <th scope="col" class="informacoes">Ações</th>

                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of listaInvestimentos | orderBy: key : reverse">
                    <th scope="row">{{item.id}}</th>
                    <td>{{item.descricao}}</td>
                    <td>{{item.valor | currency:'BRL'}}</td>
                    <td>
                        <mat-icon class="mr-1 text-success">north</mat-icon>
                        {{item.categoria.descricao}}
                    </td>
                    <td>{{item.mes.descricao}}</td>
                    <td class="informacoes">
                        <button class="btn btn-info" value="{{item.id}}" #ref (click)="getByIdTransacao(ref.value)" data-toggle="modal" data-target="#modalInfo">
                            <mat-icon>info</mat-icon>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<!-- Início modal 01 (Info) -->
<div class="modal fade" id="modalInfo" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title d-flex align-items-center" id="exampleModalLabel">
                    <mat-icon class="mr-2">info</mat-icon>Informações da movimentação</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
            </div>
            <div class="modal-body">
                <div class="infoTransacao">
                    <p class="mr-4"><strong>ID: </strong><br>{{transacao.id}}</p>
                    <p><strong>Descrição: </strong><br>{{transacao.descricao}}</p>
                    <p><strong>Valor: </strong><br>{{transacao.valor | currency: 'BRL'}}</p>
                    <p><strong>Tipo: </strong><br>{{transacao.tipo}}</p>
                    <p><strong>Categoria: </strong><br>{{catDesc}}</p>
                    <p><strong>Mês: </strong><br>{{mesDesc}}</p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-apagar d-flex align-items-center" data-dismiss="modal">
                    <mat-icon>close</mat-icon>Fechar
                </button>
            </div>
        </div>
    </div>
</div>
<!-- Fim modal 01 -->